
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", sans-serif !important;
}

:root {
    --primary: #F57300;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #06657A;
    --main-color: #06657a;
}

html{
    /* font-size: 16px; */
    scroll-behavior: smooth;
}

body{
    font-family: "Heebo",sans-serif;
}

.form-select{
    border-radius: 10px;
}

.container{
    width: 85%;
    margin: auto;
}

.title-header{
    font-size: 32px;
    margin-bottom: 15px;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.fw-bold{
    font-weight: 700;
}

.btn-theme{
    background-color: var(--main-color);
    color: #fff;
    padding: 3px 19px;
    text-decoration: none;
    border: 1px solid #fff;
    box-shadow: 0 0 3px 2px #06657a;
}

/* .col-sm-3{
    width: 19%;
}
.col-sm-9{
    width: 81%;
} */

.border-left{
    border-left: 1px solid;
}
.border-bottom{
    border-bottom: 1px solid;
}

/* Start Header */

.navbar{
    text-align: center;
    direction: rtl;
  
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 0;
    vertical-align: middle;
    margin-left: 8px;
    direction: rtl;
    
}
.navbar img {
    height: 66px;
    margin-right: 55px;
    position: right;

  }
/***  عناوين المنيو ***/
.navbar-light .navbar-nav .nav-link {
    position: center;
    margin-right: 80px;
    padding: 20px 0;
    color: #06657A;
    font-size: 18px;
   
}
/***  الوان يجيبها من root فوق  ***/

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: -2px solid #EEEEEE;
    }
}
.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
    
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
    
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
  
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        text-align: right;
        direction: rtl;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/* End Header */

/* Start Trip Details */

.trip-details,
.edit-trip,
.trip-send {
    padding-top: 80px;
}
.trip-details .details{
    
}
.trip-details form{
    
}
.trip-details .details select,
.trip-send select
.edit-trip select{
    width: 22%;
    padding: 12px 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.trip-details .details .row{
    border-radius: 20px;
}
.trip-details .details .row,
.trip-send .row{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 6px #06657a45;
    width: 66%;
    margin-bottom: 20px;
}
.trip-details .details .info{
    padding: 10px 0;
}

.trip-details .details .info span{
    margin-left: 14px;
}

.trip-details .details .info i{
    margin-left: 8px;
    font-size: 20px;
}
.trip-details .details .info.trues i{
    color: var(--main-color);
}
.trip-details .details .info.trues-info{
    padding: 0;
}
.trip-details .details .info.trues-info .list{
    padding: 8px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 6px #06657a45;
    width: 30%;
}
.trip-details .details .info.trues-info .list p{
    font-size: 14px;
}

.trip-details .details .info.trues-info .btn{
    margin-right: 46px;
}


/* End Trip Details */

/* Start trip send */

.trip-send .row{
    width: 46%;
    padding: 17px;
    border-radius: 29px;
}
.trip-send  h2{
    text-align: center;
    margin: 10px 0px;
}
.trip-send  select,
.edit-trip  select{
    width: 50%;
    margin-bottom: 30px;
    border-radius: 11px;
}

.trip-send h3{
    margin-bottom: 17px;
}
.trip-send p{
    margin-left: 10px;
    font-size: 20px;
}
.trip-send .form-control{
    width: 40%;
}
.trip-send .radio{
    
}
.trip-send label{
    margin: 0 10px;
    font-weight: 600;
}
.trip-send .btn{
    margin-top: 12px;
    text-align: center;
}
.trip-send h4{
    margin: 15px 0;
}

.trip-send span{
    color: red;
}

/* End trip send */

/* Start Edit Trip */

.edit-trip .details{
    width: 70%;
    margin: auto;
}
.edit-trip .row{
    border: 1.4px solid #000;
    border-radius: 16px;
}

.edit-trip .table-header{
    padding: 5px 10px;
    height: 100%;
}
.edit-trip .table-header h6{
    font-size: 20px;
    margin-bottom: 19px;
}

.row-field{
    flex-wrap: wrap;
}

.form-control,
.edit-trip select{
    display: block;
    margin-bottom: 16px;
    padding: 8px 7px;
    width: 60%;
    border-radius: 11px;
    border-color: #000;
    color: #000;
}
.form-control::placeholder{
    color: #000;
}
.form-control.time,
.edit-trip select.time{
    display: block;
    padding: 11px 7px;
    text-align: center;
}

.edit-trip .icon{
    margin-right: auto;
    width: fit-content;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.edit-trip .btn{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.edit-trip .btn-theme{
    background-color: #000;
    margin: auto;
    padding: 6px 27px;
    font-size: 17px;
    margin-bottom: 10px;
    border: 0;
}

/* End Edit Trip */

/* Start Trips */

.trips .details{
    width: 38%;
    margin: auto;
}
.trips .details form{
    border: 1px solid #000;
    padding: 30px 20px;
    border-radius: 13px;
}
.trips .details ul{
    list-style-type: none;
}
.trips .details ul li{
    font-size: 21px;
    margin-bottom: 13px;
    color: #000;
}
.trips .details form input{

}
.trips .details form label{

}

/* End Trips */

/* Start round-trip-page */
.round-trip{
    margin-top: 20px;
    direction: rtl;
}
.round-trip .title{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}
.round-trip .content{
    width: 47%;
    box-shadow: 1px 2px 4px rgba(73, 221, 237, 0.597) ;
    border-radius: 29px;
    border: 1px solid black;
}
.round-trip .content p{
    color: red;
}
.options{
   margin-bottom: 20px; 
}
.options .check-label{
    margin: 4px 6px 0 0;
    font-size: 18px;
}
.options .check-label label, .options .check-label input{
    margin-right: 10px;
}
.options input{
    padding: 5px;
    border: 1px solid gray;
    font-size: 19px;
    border-radius: 11px;
}
.options{
    padding: 20px;
}
.range-search{
    padding: 0px 20px;
    margin-bottom: 27px;
}
.range-search .range h1{
    line-height: 60px;
}
.round-trip .list li{
    list-style: none;
    display: block;
    font-weight: bold;
    line-height: 2.1;
}
.range-search .list li input label{
    margin-right: 5px;
}
.button-search{
    margin-bottom: 20px;
    padding-right: 30%;
    padding-top: 13px;
}
.button-search button{
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background-color: #147250;
    font-size: 20px;
}
.picture{
    width: 50%;
    float: left;
}
.picture .picture-imga {
    width: 90%;
    height: 500px;
}
.picture .picture-imga img{
    width: 73%;
}

.round-trip .btn{
    text-align: center;
    margin-top: 60px;
}


/* @media (min-width:992px){
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul a{
        font-size: 1rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    #services .services-button .services-item{
        flex-basis: 35%;
        height: 300px;
        margin: 1.5%;
    }
} */

.con-back {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: -100px;
  background: #fff;
  z-index: 10;
  display: none;
}

.map-active {
  display: block !important;
}

.form-container {
  width: 70%;
  margin: 100px auto 50px;
  height: auto;
  border: 3px solid #d0f5f8;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.form-container form .container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

input, input::placeholder, select {
  padding: 4px 4px;
  color: #000 !important;
}

#Region, input, select {
  border: 2px solid #06657a !important;
}

.form-container form .btn {
  background: #06657a;
  width: 20%;
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
  padding: 3px 19px;
  text-decoration: none;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 2px #06657a;
}

.shortTitle-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
}

.shortTitle-input input {
  width: 90%;
}

.shortTitle-input button {
  width: 9% !important;
  text-align: center;
  height: 100% !important;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.show-st {
  opacity: 1 !important;
  visibility: visible !important;
}

.shortTitle {
  position: fixed;
  width: 100%;
  background: #06657a61;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.shortTitle img {
  width: 25%;
  min-width: 320px;
  height: 63%;
}