*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    

}

body{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  

}

.container{
  width: 50%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h1{
    color: #084b5c;
    text-align: center;
    
    

}
.form{

    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;

    
    
}

.form input{
    height: 40%;
    width: 100%;
    position: relative;
    color: rgb(43, 86, 226);
    padding-top: 20px;
    border: none;
    outline: none;
    text-align: right;
    padding: 30px;
    
 
}

.form input:focus,
.form input:valid {
    margin-left: 20px; 

}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    
    
}


.form label::after{
    content: "";
    position: absolute;
    right: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #055777;
    transform: translate(100%);
    transition: transform 0.3s ease;
    
}

.content-text{
    position: absolute;
    bottom: 5px;
    right: 0px;
    transition: all 0.3s ease;

    
}

.form input:focus + .label-text .content-text, .form input:valid + .label-text .content-text{
    transform: translateY(-150%);
    font-size: 10px;
    color: rgb(43, 86, 226);
    

    
}

.form input:focus + .label-text::after, .form input:valid + .label-text::after{
    transform: translateX(0%);
}

.button{
  padding: 10px 20px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: #084b5c;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Noto Kufi Arabic", sans-serif;
  margin-top: 10px;
    
  }

  

  

